@import "reset.css";

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("GmarketSansTTFBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("GmarketSansTTFMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("GmarketSansTTFLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("GmarketSansTTFMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("GmarketSansTTFBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  visibility: hidden;
}
body {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5b2386;
  font-family: "Gmarket Sans TTF";
}

.input {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.header {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 564px;
  height: 265px;
  position: relative;
}
.header-top {
  width: 564px;
  height: 112px;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header-bottom {
  z-index: 1;
  width: 222px;
  height: 225px;
  position: absolute;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.yellowtext {
  font-family: "OTEnjoystoriesBA";
  font-size: 2rem;
  color: #f5df4d;
  padding: 2.5rem;
}

.content-1 {
  display: flex;
  padding: 3rem;
  gap: 20px;
}

.content-1-text {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  white-space: nowrap;
}
