@import "reset.css";

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("GmarketSansTTFBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("GmarketSansTTFMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("GmarketSansTTFLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("GmarketSansTTFMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("GmarketSansTTFBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  visibility: hidden;
}
body {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #5b2386;
  font-family: "Gmarket Sans TTF";
}

header {
  height: 30vh;
}

header > img {
  width: 300px;
}

.yellowtext {
  font-family: "OTEnjoystoriesBA";
  font-size: 24px;
  color: #f5df4d;
  padding: 2rem;
}

.input {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.w-full {
  width: 100%;
}

.width-limit {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  display: block;
  vertical-align: middle;
}
